/** dialog的textarea */
.el-textarea .el-textarea__inner {
    resize: none;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    padding: 5px;
    height: 60px;
    font-size: 12px;
}
.el-textarea .el-input__count {
  bottom: 5px;
  right: 32px;
}
.el-dialog {
  width: 40%;
}